.page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  #name {
    padding: $base-spacing;
    margin: 0;
    border-bottom: 2px solid lightgray;
  }

  &__header {
    background: $white;
    height: 100px;
    padding: $base-spacing;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }


  .item-wrapper {
    border-bottom: 1px solid #a6afbe;
  }

  .list-item {
    margin: 30px;
    box-sizing: content-box;

    .section {
      display: flex;
    }

    .pub-date {
      font-weight: 300;
    }

    .description {
      font-weight: 300;
      color: black;
    }

    .thumbnail-wrapper {
      width: 30vw;
      .thumbnail {
        box-sizing: border-box;
        padding: $base-spacing;
        width: 100%;
      }
    }

    .top {
      color: rgb(37,45,77);
      justify-content: space-around;
    }

    // .mid {

    // }

    .bot {
      justify-content: space-between;
    }

  }

  .subtitle {
    font-size: 14px;
    font-weight: 300;
    color: rgb(101,123,143);
  }

  footer {
    height: 100px;
    background-color: rgb(37,45,77);
  }
}
